/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 /*
*= require_tree .
*= require_self
*/


@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

 body {
  background: url('./bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: .875rem;
  color: #222;
  a {
    color: #000;
  }
}
h1, h2, h5 {
  color: #000;
}
h3, h4, h6 {
  color: darkgrey;
}

img {
  display: block;
  height: auto;
}

.content {
  background-color:rgba(180, 195, 242, 0.6);
}

.jumbotron {
  background-color:rgba(180, 195, 242, 0.6);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  background-color:#735cdd;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: rgb(24, 24, 24);
  .feather {
    margin-right: 4px;
    color: #333;
  }
  &.active {
    color: #007bff;
  }
  &:hover .feather, &.active .feather {
    color: inherit;
  }
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.2rem;
}

.showTemp {
  font-size: 150%
}

.footer-copyright {
  color: aliceblue;
    a {
      color: aliceblue;
    }
    font-weight: 100;
}