/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";


 @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

 body {
   font-family: 'Poppins', sans-serif;
   background: #fafafa;
 }
 
 p {
   font-family: 'Poppins', sans-serif;
   font-size: 1.1em;
   font-weight: 300;
   line-height: 1.7em;
   color: #383b46;
 }
 
 a {
   color: inherit;
   text-decoration: none;
   transition: all 0.3s;
   &:hover, &:focus {
     color: inherit;
     text-decoration: none;
     transition: all 0.3s;
   }
 }
 
 .navbar {
   padding: 15px 10px;
   background: #fff;
   border: none;
   border-radius: 0;
   margin-bottom: 40px;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
 }
 
 .navbar-btn {
   box-shadow: none;
   outline: none !important;
   border: none;
 }
 
 .line {
   width: 100%;
   height: 1px;
   border-bottom: 1px dashed #ddd;
   margin: 40px 0;
 }
 
 i, span {
   display: inline-block;
 }
 
 .wrapper {
   display: flex;
   align-items: stretch;
 }


 #sidebar {
   min-width: 250px;
   max-width: 250px;
   background: #7386D5;
   color: #383b46;
   transition: all 0.3s;
   ul li a {
     text-align: left;
   }
   .sidebar-header {
     padding: 20px;
     background: #6d7fcc;
     strong {
       display: none;
       font-size: 1.2em;
     }
   }
   ul {
     &.components {
       padding: 20px 0;
       border-bottom: 1px solid #47748b;
     }
     li {
       a {
         padding: 10px;
         font-size: 1.1em;
         display: block;
         color: #383b46;
         &:hover {
           background: #fff;
         }
         i {
           margin-right: 10px;
         }
       }
     }
   }
 }
 
 a {
   &[aria-expanded="true"] {
     color: #fff;
     background: #6d7fcc;
   }
   &[data-toggle="collapse"] {
     position: relative;
   }
 }
 
 .dropdown-toggle::after {
   display: block;
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
 }
 
 ul {
   ul a {
     font-size: 0.9em !important;
     padding-left: 30px !important;
     background: #6d7fcc;
   }
   }
 
 a {
   &.download {
     background: #fff;
     color: #7386D5;
   }
   &.article {
     background: #6d7fcc !important;
     color: #fff !important;
     &:hover {
       background: #6d7fcc !important;
       color: #fff !important;
     }
   }
 }
 
 #content {
   width: 100%;
   padding: 20px;
   min-height: 100vh;
   transition: all 0.3s;
 }
 
 /* ---------------------------------------------------
     MEDIAQUERIES
 ----------------------------------------------------- */
 
 @media (max-width: 768px) {
   #sidebar {
     min-width: 80px;
     max-width: 80px;
     text-align: center;
     margin-left: -80px !important;
   }
   .dropdown-toggle::after {
     top: auto;
     bottom: 10px;
     right: 50%;
     -webkit-transform: translateX(50%);
     -ms-transform: translateX(50%);
     transform: translateX(50%);
   }
   #sidebar {
     .sidebar-header h3 {
       display: none;
     }
     .sidebar-header strong {
       display: block;
     }
     ul {
       li a {
         padding: 20px 10px;
         span {
           font-size: 0.85em;
         }
         i {
           margin-right: 0;
           display: block;
         }
       }
       ul a {
         padding: 10px !important;
       }
       li a i {
         font-size: 1.3em;
       }
     }
     margin-left: 0;
   }
   #sidebarCollapse span {
     display: none;
   }
 }