<ul class="nav nav-pills pull-right">
  <% if admin_signed_in? %>
        <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary"><%= link_to "Profile", current_admin, :id => current_admin.id%></button>
                <button class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_admin_registration_path %></button>
              </div>
              <button class="btn btn-sm btn-outline-secondary">
                <span data-feather="calendar"></span>
                <%= link_to "All Admins", admins_path %>
              </button>

  <% end %>
</ul>