<div class="d-flex mb-2">

              <div class="col-sm-9 col-lg-9">
                <div class="content card">
                <div class="card-header">Latest Education News </div>
                  <div class="card-body newsTitle">
                        
                  </div>
                  
                </div>
              </div>

              <div class="col-sm-3 col-lg-3">
                <div class="content card">
                <div class="card-header">Current Conditions</div>
                  <div class="card-body">
                    <div class="container d-flex justify-content-center" id="weather">
                            <div class="row">
                                <div><img id="icon" src=""></div>
                                <div class="showTemp m-1"></div>
                            </div>
                            
                    </div>
                    

                    <div class="time-frame text-right">
                        <span id='time-part'></span>  
                        <span id='date-part'></span>
                    </div>
                        

                  </div>
                  
                </div>
              </div>

 </div><hr>